<form class="form-horizontal" [formGroup]="formulario">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="name">Nome</label>
      <input
        type="text"
        formControlName="nome"
        class="form-control"
        id="name"
        placeholder="Maria"
      />
    </div>
    <div class="col-sm-12">
      <label for="email">Email address</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="email@email.com"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
